<?xml version="1.0" encoding="utf-8" standalone="no"?>
<RevitAddIns>
  <AddIn Type="Application">
    <Name>LIM- LANDSCAPE DATA</Name>
    <Assembly>{{ASSEMBLY_PATH}}</Assembly>
    <AddInId>1F16DC04-667F-445E-85F4-25897F0FB47A</AddInId>
    <FullClassName>WWP.LandscapeDataManager.Revit.App</FullClassName>
    <VendorId>EGIS</VendorId>
    <VendorDescription>EGIS Group</VendorDescription>
  </AddIn>
</RevitAddIns>
